body {
	font-size: 14px;
	line-height: 18px;
	font-family: "PT Sans";
	margin: 0px;
}

.main-block {
	position: relative;
}

.content {
	width: 980px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}

.flexible-container {
	display: flex;
}

header {
	background-color: rgb(100, 100, 255);
}

#companyNameDiv {
	width: 30%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#logoImage {
	width: 100px;
}

#companyNameLeftDiv {
	width: 40%;
	float: left;
}

#companyNameRightDiv {
	width: 60%;
	float: right;
}

#feedbackDiv {
	width: 30%;
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

#feedbackText {
	border-bottom: 1px dotted black;
	cursor: pointer;
}

@font-face {
	font-family: "Raleway";
	src: url("fonts/Raleway-Medium.ttf");
}

.telephone-number {
	font-family: "Raleway";
}

#feedback {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
}

#feedbackForm {
	position: relative;
	margin: 15% auto;
	display: table;
	background-color: white;
}

#feedbackMainText {
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px
}

.feedbackLabel {
	text-align: center;
}

.feedbackTextInput {
	display: block;
	width: 300px;
	margin: 0px 20px;
}

#feedbackMessageInput {
	height: 100px;
}

#sendFeedbackButton {
	margin: 20px auto;
	display: block;
}

#closeFeedbackButton {
	width: 25px;
	height: 25px;
	position: absolute;
	right: -25px;
	top: -25px;
	display: table;
}

#closeFeedbackButton:hover {
	cursor: pointer;
}

#menu {
	background-color: green;
	size: 80;
}

#menuUl {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

#menuUl > li {
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid black;
}

#menuUl > li:last-child {
	border-right: none;
}

#slider {
	background-color: red;
}

#sliderInnerDiv {
	width: 100%;
}

.slider-image {
	max-width: 100%;
	height: 200px;
	margin: auto;
	padding: 10px 0px 10px 0px;
	display: none;
}

@keyframes fade {
  0% {opacity: 1;}
  60% {opacity: 1;}
  80% {opacity: 0;}
  100% {opacity: 0;}
}

.fade-image {
	animation-name: fade;
	animation-duration: 2.5s;
}

@keyframes unfade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.unfade-image {
	animation-name: unfade;
	animation-duration: 2s;
}

#content {
	background-color: purple;
}

#locationUl {
	display: flex;
	justify-content: left;
	list-style: none;
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

#locationUl > li {
	text-decoration: underline;
	margin-left: 10px;
}

#locationUl > li:after {
	content: '  /';
	text-decoration: none;
	display: inline-block;
	white-space: pre-wrap;
}

#locationUl > li:first-child {
	margin-left: 0px;
}

#locationUl > li:last-child {
	text-decoration: none;
}

#locationUl > li:last-child:after {
	content: '';
}

#leftBlock {
	width: 20%;
	float: left;
}

#rightBlock {
	width: 80%;
	float: right;
}

#leftBlockUl {
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

#leftBlockUl > ul {
	margin-bottom: 10px;
}

#productsDiv {
	height: 300px;
}

#additionalInfoDiv {
	border-top: 1px solid black;
	padding: 10px 10px 20px 10px;
}

.additionalInfoSubDiv {
	width: 50%;
	float: left;
}

footer {
	background-color: yellow;
	justify-content: space-between;
}

.footer-div {
	width: 33%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#footerMenuUl {
	list-style: none;
	margin: 0px;
}

#developmentImage {
	width: 75px;
}

#developmentLeftDiv {
	float: left;
}

#developmentRightDiv {
	float: left;
	margin-left: 10px;
}
