@media (max-width: 576px) {

	#bigLogo {
		float: none !important;
		margin: 20px auto !important;
		display: block;
	}

	#bigCompanyName {
		display: block;
	}
}

.main-paragraph {
	font-size: 20px;
	line-height: 30px;
	font-family: "Maiden Orange";
	text-indent: 50px;
	text-align: justify;
}

#bigLogo {
	float: left;
	margin: 20px 20px 20px 0px;
	box-shadow: 10px 10px 8px #888888;
	border-radius: 20px;
}

#bigCompanyName {
	font-style: italic;
	color: #f07b3f;
}
