<html>
	<head>
		<title> Music shop </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
		<link rel="stylesheet" href="styles.css">
		<script type="text/javascript" src="scripts.js"></script>
	</head>
	<body>
	<div class="d-flex flex-column" style="min-height: 100vh">
		<div class="jumbotron p-3 mb-0">
			<div class="container">
				<div class="d-flex">
					<div class="d-flex"><image class="align-self-center" id="logoImage" src="images/logo.jpg" alt="there should be the company logotype"/></div>
					<div class="mr-auto ml-2">
						<div class="h2">Music Pro</div>
						<div id="companyNameSubText">Найкраща компанія!</div>
					</div>
					<div>
						<div class="telephone-number">+380-11-223-33</div>
						<div class="telephone-number">+380-33-221-11</div>
						<span class="float-right" id="feedbackText">Зворотний зв'язок</span>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-md py-0 navbar-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Головна</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Каталог</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Доставка і оплата</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Прайс-лист</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Контакти</a>
					</li>
				</ul>
			</div>
		</nav>
		<div id="slider" class="fluid-container">
			<div id="sliderInnerDiv">
				<image class="slider-image" src="images/slider/slider1.jpg"></image>
				<image class="slider-image" src="images/slider/slider2.jpg"></image>
				<image class="slider-image" src="images/slider/slider3.jpg"></image>
				<image class="slider-image" src="images/slider/slider4.jpg"></image>
				<image class="slider-image" src="images/slider/slider5.jpg"></image>
			</div>
		</div>
		<div id="content" class="container">
				<ul class="breadcrumb" style="background-color: transparent">
					<li class="breadcrumb-item">Головна</li>
					<li class="breadcrumb-item">Каталог</li>
					<li class="breadcrumb-item active">Гітари</li>
				</ul>
				<div class="row">
					<div class="col-md-3" id="leftBlock">
						<ul class="list-group mb-4" id="leftBlockUl">
							<span class="selected-catalog mb-2">Гітари</span>
							<ul class="list-group">
								<li><span class="list-group-item sub-catalog">Акустичні</span></li>
								<li><span class="list-group-item sub-catalog">Класичні</span></li>
								<li><span class="list-group-item sub-catalog">Електро</span></li>
								<li><span class="list-group-item sub-catalog">Бас</span></li>
							</ul>
							<span class="my-2">Барабанна установка</span>
							<ul class="list-group">
								<li><span class="list-group-item sub-catalog">Великі барабани</span></li>
								<li><span class="list-group-item sub-catalog">Робочі</span></li>
								<li><span class="list-group-item sub-catalog">Томи</span></li>
								<li><span class="list-group-item sub-catalog">Тарілки</span></li>
								<li><span class="list-group-item sub-catalog">Палички</span></li>
							</ul>
							<span class="my-2">Клавіші</span>
							<ul class="list-group">
								<li><span class="list-group-item sub-catalog">Класичне фортепіано</span></li>
								<li><span class="list-group-item sub-catalog">Синтезатор</span></li>
							</ul>
							<span class="my-2">Мікрофони</span>
							<ul class="list-group">
								<li><span class="list-group-item sub-catalog">Концертні</span></li>
								<li><span class="list-group-item sub-catalog">Студійні</span></li>
							</ul>
							<span class="my-2">Аксесуари</span>
							<ul class="list-group">
								<li><span class="list-group-item sub-catalog">Струни</span></li>
								<li><span class="list-group-item sub-catalog">Медіатори</span></li>
								<li><span class="list-group-item sub-catalog">Каподастри</span></li>
								<li><span class="list-group-item sub-catalog">Палички</span></li>
								<li><span class="list-group-item sub-catalog">Пюпітри</span></li>
							</ul>
						</ul>
					</div>
					<div class="col-md-9" id="centerBlock">
						<div id="productsDiv">
							{% block products %}{% endblock %}
						</div>
						<div class="d-flex" id="additionalInfoDiv">
							<div>
								Компанія "Music Pro" стала флагманом в сфері продажу музичних інструментів
								уже через 2 роки після свого створення у 2016-му році. Цього вдалося досягти,
								завдяки чудовому колективу музикантів, досвід яких подекуди сягає п'ятнадцяти років.
							</div>
							<div>
								Наш інтернет-магазин унікальний тим, що ми пропонуємо виключно товари, перевірені
								професіоналами. На разі ми займаємося продажем різноманітних гітар, барабанів та
								клавішних інструментів та пропонуємо широкий вибір аксесуарів для них.
								Висловлюємо велику подяку компанії WebDevelopers, яка доклала зусиль для того,
								щоб інтерфейс для взаємодії з нашими клієнтами був зручним. Будемо дуже вдячні,
								якщо Ви станете нашим клієнтом. Не варто забувати, що постійним клієнтам
								надається чимала скидка :)
							</div>
						</div>
					</div>
				</div>
		</div>
		<div id="noContentDiv"></div>
		<div id="feedback">
			<form id="feedbackForm">
				<div id="feedbackMainText">Зворотний зв'язок</div>
				<div class="feedbackInputPair">
					<div class="feedbackLabel">Ваше ім'я</div>
					<input type="text" class="feedbackTextInput">
				</div>
				<div class="feedbackInputPair">
					<div class="feedbackLabel">Телефон</div>
					<input type="text" class="feedbackTextInput">
				</div>
				<div class="feedbackInputPair">
					<div class="feedbackLabel">Email</div>
					<input type="email" class="feedbackTextInput no-input-alert" id="emailInput" placeholder="обов'язково для заповнення">
				</div>
				<div class="feedbackInputPair">
					<div class="feedbackLabel">Повідомлення</div>
					<textarea rows="5" id="feedbackMessageInput" class="feedbackTextInput"> </textarea>
				</div>
				<button id="sendFeedbackButton">Відправити</button>
				<button id="closeFeedbackButton">x</button>
			</form>
		</div>
		</div>
		<div class="jambotron footer mt-auto">
			<div class="container p-3" id="footerInnerDiv">
				<div class="align-self-center footer-div">
					<div id="copyrightDiv">© 2016-2019 Music pro</div>
					<div id="emailDiv">music.pro@gmail.com</div>
				</div>
				<div class="footer-div">
					<ul class="list-group list-group-flush" id="footerMenuUl">
						<li><span class="list-group-item footer-link">Головна</span></li>
						<li><span class="list-group-item footer-link">Каталог</span></li>
						<li><span class="list-group-item footer-link">Доставка і оплата</span></li>
						<li><span class="list-group-item footer-link">Прайс-лист</span></li>
						<li><span class="list-group-item footer-link">Контакти</span></li>
					</ul>
				</div>
				<div class="align-self-center footer-div">
					<div class="d-flex">
					<div class="mr-2"><image id="developmentImage" src="images/development.png"/></div>
					<div id="developmentRigh tDiv">
						<span class="footer-link">Розробка сайту</span> -<br>
						<span>компанія "Web Developers"</span>
					</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
