body {
	font-size: 14px;
	line-height: 18px;
	font-family: "PT Sans";
	margin: 0px;
	color: #281910;
	cursor: default;
	height: 100vh;
	user-select: none;
}

#bodyWraper {
	min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-block {
	position: relative;
}

.content {
	width: 980px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}

.flexible-container {
	display: flex;
}

header {
	background-color: #ffd460;
}

#companyNameDiv {
	max-width: 350px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#logoImage {
	width: 100px;
	height: auto;
}

#companyNameLeftDiv {
	width: auto;
	float: left;
}

#companyNameRightDiv {
	width: auto;
	float: left;
	margin-left: 20px;
}

#companyNameText {
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
}

#companyNameSubText {
	font-size: 17px;
	font-style: italic;
	margin-top: 30px;
}

#feedbackDiv {
	width: fit-content;
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	flex-direction: column;
}

#feedbackText {
	border-bottom: 1px dotted #281910;
	cursor: pointer;
	font-size: 18px;
	padding: 5px;
	float: right;
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-Medium.ttf");
}

.telephone-number {
	font-family: "Raleway";
	font-size: 25px;
	margin-bottom: 10px;
}

#feedback {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.45);
}

#feedbackForm {
	position: relative;
	top: 50%;
	left: 50%;
	max-height: 100%;
	transform: translate(-50%, -50%);
	display: table;
	background-color: #fffbc4;
	overflow-y: auto;
}

#feedbackInnerWraper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#feedbackMainText {
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;
}

.feedbackLabel {
	text-align: center;
	margin: 10px 0px;
	font-size: 16px;
	font-weight: bold;
}

.feedbackTextInput {
	display: block;
	width: 300px;
	margin: 0px 20px;
	padding: 5px;
}

button {
	background-color: #2d4059;
	color: #fffbc4;
	border: none;
}

button:hover {
	background-color: #ea5455;
}

button:focus {
	outline: 2px solid #2d5f59;
}

#feedbackMessageInput {
	resize: none;
}

#sendFeedbackButton {
	margin: 20px auto;
	display: block;
	cursor: pointer;
	padding: 10px;
}

#closeFeedbackButton {
	width: 25px;
	height: 25px;
	position: absolute;
	right: -25px;
	top: -25px;
	display: table;
	font-weight: bold;
}

#closeFeedbackButton:hover {
	cursor: pointer;
}

.no-input-alert {
	box-shadow: inset 0px 0px 8px #ea5455;
}

::placeholder {
  color: #f07b3f;
}

#menu {
	background-color: #ea5455;
	size: 80;
}

#menuUl {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0px;
	width: auto;
}

#menuUl li {
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 2px 0 0 0 #fffbc4;
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
	line-height: 32px;
}

#menuUl a {
	color: #fffbc4;
}

.menu-li-div {
	padding: 20px 0px;
}

.menu-li-div:hover, .menu-li-div.active {
	background-color: #f07b3f;
	cursor: pointer;
}

.menu-li-div.disabled {
	padding: 20px 0px;
	cursor: default;
}

#menuUl .menu-li-div:last-child li {
	box-shadow: none;
}

#slider {
	background-color: #ffd460;
}

#sliderInnerDiv {
	width: 100%;
	margin: 10px 0px;
}

.slider-image {
	max-width: 100%;
	height: 200px;
	margin: auto;
	display: none;
	border-radius: 40px;
	object-fit: cover;
}

@keyframes fade {
  0% {opacity: 1;}
  60% {opacity: 1;}
  80% {opacity: 0;}
  100% {opacity: 0;}
}

.fade-image {
	animation-name: fade;
	animation-duration: 2.5s;
}

@keyframes unfade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.unfade-image {
	animation-name: unfade;
	animation-duration: 2s;
}

.unfade-feedback {
	animation-name: unfade;
	animation-duration: 1s;
}

#content {
	background-color: #fffbc4;
}

#locationUl {
	display: flex;
	justify-content: left;
	list-style: none;
	margin: 0px;
	padding: 20px 0px 10px 0px;
	font-weight: bolder;
}

#locationUl > li {
	text-decoration: underline;
	margin-left: 10px;
}

#locationUl > li:after {
	content: '  /';
	text-decoration: none;
	display: inline-block;
	white-space: pre-wrap;
}

#locationUl > li:first-child {
	margin-left: 0px;
}

#locationUl > li:last-child {
	text-decoration: none;
}

#locationUl > li:last-child:after {
	content: '';
}

#centerBlock {
	width: 73%;
	float: right;
	margin-left: auto;
}

#leftBlock {
	width: 100%;
	float: none;
}

#centerBlock {
	position: relative;
	width: 100%;
	float: none;
}

#leftBlockUl {
	margin: 0px;
	padding: 10px 0px 10px 0px;
	font-size: 18px;
	font-weight: bolder;
	line-height: 23px;
}

#leftBlockUl > ul {
	margin-bottom: 10px;
}

#leftBlockUl span.active {
	color: #f07b3f;
}

.upper-catalog {
	margin-bottom: 10px;
	display: block;
	cursor: pointer;
	width: fit-content;
}

.sub-catalog {
	cursor: pointer;
	width: fit-content;
}

.selected-catalog {
	text-decoration: underline;
}

#leftBlockUl li {
	font-size: 16px;
	list-style-type: disc;
	margin-bottom: 5px;
	line-height: 20px;
}

#additionalInfoDiv {
	border-top: 2px solid #281910;
	padding: 10px 10px 40px 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.additionalInfoSubDivRight {
	width: 48%;
}

#noContentDiv {
	flex: 1;
	background-color: #fffbc4;
}

footer {
	background-color: #2d4059;
	color: #fffbc4;
}

.footer-div {
	width: auto;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#footerInnerDiv {
	display: flex;
	justify-content: space-between;
}

#footerMenuUl {
	list-style: none;
	margin: 0px;
}

#footerMenuUl > li {
	margin-bottom: 10px;
}

.footer-link a {
	text-decoration: underline !important;
	cursor: pointer;
}

.footer-link a.active {
	text-decoration: none !important;
}

#developmentImage {
	width: 75px;
}

#developmentLeftDiv {
	float: left;
}

#developmentRightDiv {
	float: left;
	margin-left: 10px;
}

@media (min-width: 768px) {
	#leftBlock {
		width: 25%;
		min-width: 150px;
		float: left;
		margin-right: auto;
	}

	#centerBlock {
		width: 73%;
		float: right;
		margin-left: auto;
	}

	#innerContent {
		flex-direction: row !important;
	}
}

@media (max-width: 650px) {
	#menuUl {
		display: block;
	}

	#menuUl li {
		box-shadow: none;
	}

	#additionalInfoDiv {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 576px) {
	#companyNameDiv {
		float: none;
	}

	#feedbackDiv {
		float: none;
	}

	#footerInnerDiv {
		display: block;
	}

	.footer-div {
		float: none;
	}

	footer {
		padding-bottom: 20px;
	}

	#footerMenuUl {
		padding-left: 0px;
	}

	.feedbackTextInput {
		width: 200px;
	}
}

#innerContent {
	flex-direction: column-reverse;
}

.main-paragraph {
	font-size: 20px;
	line-height: 30px;
	font-family: "Maiden Orange";
	text-indent: 50px;
	text-align: justify;
}

.emoji {
	font-size: 1rem;
}

h1 {
	font-size: 30px;
	line-height: 40px;
	font-family: "Raleway";
}

.red {
	color: #ea5455; 
}

.orange {
	color: #f07b3f;
}

.disabled {
	color: #bbbbbb !important;
	cursor: default !important;
}

.footer-link.disabled a {
	cursor: default;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: inherit;
}

.underlined {
	border-bottom: 1px solid #bbbbbb;
	padding-bottom: 10px;  
}
